* {
    padding: 0;
    margin: 0;
}

body {
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
h1 {
    font-family: Monospace;
    color: green;
    text-shadow: 0 0 5px green;
}
h2 {
    font-family: Monospace;
    color: blue;
    text-shadow: 0 0 3px blue;
}
